################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################


/.vs/Infrastructure
/Src/.vs/Infrastructure/v15
/Src/Infrastructure.Auth.Imp/obj/Debug
/Src/Infrastructure.Auth.ImpCore/obj
/Src/Infrastructure.Auth.Interface/obj/Debug
/Src/Infrastructure.Auth.UI/obj/Debug
/Src/Infrastructure.Bin
/Src/Infrastructure.Factory/obj/Debug
/Src/Infrastructure.Imp/obj/Debug
/Src/Infrastructure.Interface/obj/Debug
/Src/Infrastructure.UI/obj/Debug
/Src/Infrastructure.UT/obj/Debug
/Src/Infrastructure.UT.Bin
/Src/Infrastructure.Utils/obj/Debug
/Src/packages
/Src/.vs/Infrastructure/DesignTimeBuild
/Src/Infrastructure.BarcodeReader.Imp/obj/Debug
/Src/Infrastructure.BarcodeReader.Interface/obj/Debug
/Src/Infrastructure.Common.Interface/obj/Debug
/Src/Infrastructure.ComPort.Factory/obj/Debug
/Src/Infrastructure.ComPort.Imp/obj/Debug
/Src/Infrastructure.ComPort.Interface/obj/Debug
/Src/Infrastructure.Config.Factory/obj/Debug
/Src/Infrastructure.Config.Interface/obj/Debug
/Src/Infrastructure.Config.Yaml/obj/Debug
/Src/Infrastructure.Csv.CsvHelper/obj/Debug
/Src/Infrastructure.Csv.Imp/obj/Debug
/Src/Infrastructure.Csv.Interface/obj/Debug
/Src/Infrastructure.Ioc.Factory/obj/Debug
/Src/Infrastructure.Ioc.Interface/obj/Debug
/Src/Infrastructure.Ioc.Ninject/obj/Debug
/Src/Infrastructure.Log.Factory/obj/Debug
/Src/Infrastructure.Log.Interface/obj/Debug
/Src/Infrastructure.Log.NLog/obj/Debug
/Src/Infrastructure.Mapper.AutoMapper/obj/Debug
/Src/Infrastructure.Mapper.Factory/obj/Debug
/Src/Infrastructure.Mapper.Interface/obj/Debug
/Src/Infrastructure.MessageBus.Imp/obj/Debug
/Src/Infrastructure.MessageBus.Interface/obj/Debug
/Src/Infrastructure.Mvp.Interface/obj/Debug
/Src/Infrastructure.Plc.Common/obj/Debug
/Src/Infrastructure.Plc.Factory/obj/Debug
/Src/Infrastructure.Plc.Interface/obj/Debug
/Src/Infrastructure.Plc.Keyence/obj/Debug
/Src/Infrastructure.Plc.ManualSimulator/obj/Debug
/Src/Infrastructure.Plc.Melsec/obj/Debug
/Src/Infrastructure.Plc.Modbus/obj/Debug
/Src/Infrastructure.Plc.Omron/obj/Debug
/Src/Infrastructure.Plc.Opc/obj/Debug
/Src/Infrastructure.PlcMonitor.Imp/obj/Debug
/Src/Infrastructure.PlcMonitor.Interface/obj/Debug
/Src/Infrastructure.Repository.EF/obj/Debug
/Src/Infrastructure.Repository.Interface/obj/Debug
/Src/Infrastructure.Serialization.Factory/bin/Debug
/Src/Infrastructure.Serialization.Interface/obj/Debug
/Src/Infrastructure.Serialization.Newtonsoft/obj/Debug
/Src/Infrastructure.Serialization.YamlDotNet/bin/Debug
/Src/Infrastructure.Serialization.YamlDotNet/obj/Debug
/Src/Infrastructure.Serialization.Factory/obj/Debug
/Src/Infrastructure.Plc.Opc.HOpc/obj/Debug
/Src/Infrastructure.Plc.Opc.OpcUaHelper/obj/Debug
/Src/Infrastructure.Ioc.Autofac/obj/Debug
/Src/Infrastructure.Modbus.Factory/obj/Debug
/Src/Infrastructure.Modbus.Interface/obj/Debug
/Src/Infrastructure.Modbus.NModbus4/obj/Debug
/Src/Infrastructure.Opc.Factory/obj/Debug
/Src/Infrastructure.Opc.HOpc/obj/Debug
/Src/Infrastructure.Opc.Interface/obj/Debug
/Src/Infrastructure.Opc.OpcUaHelper/obj/Debug
/Src/.vs/Infrastructure/lut
/Src/Infrastructure.Tests.Bin
/Src/Infrastructure.Tests/obj
