# .NET Desktop
# Build and run tests for .NET Desktop or Windows classic desktop solutions.
# Add steps that publish symbols, save build artifacts, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/windows/dot-net

trigger:
- master

pool:
  vmImage: 'vs2017-win2016'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: NuGetToolInstaller@0
  inputs:
     checkLatest: true

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    testAssemblyVer2: |
     **\Infrastructure.UT.Bin\Infrastructure.UT.dll
     !**\obj\**
    runTestsInIsolation: true
    codeCoverageEnabled: true

- task: PublishSymbols@2
  inputs:
    SearchPattern: '**\Infrastructure.Bin\*.pdb'
    PublishSymbols: false
  continueOnError: true

- task: CopyFiles@2
  inputs:
    SourceFolder: Src/Infrastructure.Bin
    Contents: '**\*'
    TargetFolder: '$(build.artifactstagingdirectory)/Infrastructure.Bin'  

- task: NuGetCommand@2
  inputs:
    command: pack
    vstsFeed: packagesToPack
    packDestination: '$(Build.ArtifactStagingDirectory)/Infrastructure.Bin/Infrastructure.Package'
    includeSymbols: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)'
    ArtifactName: 'Infrastructure-$(Build.BuildNumber)'

- task: NuGetCommand@2
  inputs:
    command: 'push'
    feedsToUse: 'select'
    packagesToPush: '$(Build.ArtifactStagingDirectory)/Infrastructure.Bin/Infrastructure.Package/*.nupkg;!$(Build.ArtifactStagingDirectory)/**/*.symbols.nupkg'
    nuGetFeedType: 'internal'
    publishVstsFeed: Infrastructure.Package
    allowPackageConflicts: true
    versioningScheme: 'off'

